{# templates/playlist/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ playlist.nombre }}{% endblock %}

{% block body %}
    <h1>{{ playlist.nombre }}</h1>

    <h2>Canciones en la Playlist:</h2>
    <ul>
        {% for relacion in cancionesEnPlaylist %}
            {# Obtén la canción asociada a la relación #}
            {% set cancion = relacion.getCancion() %}
            <li>{{ cancion.titulo }} - {{ cancion.artista }} - {{ cancion.album }}</li>
        {% endfor %}
    </ul>
{% endblock %}
